<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>

<body class="profile">
    <h1>My profile</h1>
    <% if (typeof users == 'object' && users) { %>
        <% users.forEach((users)=>{%>
            <section>
                <img src="../images/profile_picture.jpg" alt="picture of user">
                <h3>Name</h3>
                <p>
                    <%= users.name %>
                </p>
                <h3>Nationality</h3>
                <p>
                    <%= users.nationality %>
                </p>
                <h3>Age</h3>
                <p>
                    <%= users.age %>
                </p>
            </section>
            <section>
                <h3>Games</h3>
                <p>
                    <%= users.game %>
                </p>
                <h3>Type of player</h3>
                <p>
                    <%= users.playertype %>
                </p>
                <h3>Platform</h3>
                <p>
                    <%= users.platform %>
                </p>
                <h3>Rank</h3>
                <p>
                    <%= users.rank %>
                </p>
            </section>
            <%})%>
                <% } %>
                    <form method="GET" action="/edit">
                        <button type="submit">Edit</button>
                    </form>
</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>

</html>